@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 색상 설정 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 다크 모드 색상 설정 */
body.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Tailwind dark 모드 변형을 사용하여 색상 변경 */
h1, h2, h3, h4, h5, h6 {
  color: inherit; /* 텍스트 색상은 body에서 정의된 색상으로 적용 */
}
